#music-main {
  margin: 10vh auto 0;
  max-width: var(--max-width);
  padding: 1rem;
}

.table-wrapper {
  margin-bottom: 4rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #ddd;
}

tr:nth-child(even){background-color: var(--color-grey-light)}

.video {
  margin: 2rem 0;
}