/* font weights 100, 300, 900 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css vars */
:root {
  --color-light: #F0EEED;
  --color-dark: #261B15;
  --color-grey-light: #CAB9B0;
  --color-grey-dark: #524B48;
  --color-primary: #5452F5;
  --border-radius: 4px;
  --transition: all 0.3s ease-in-out;
  --transition-speed: 0.3s
}

body {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-light);
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

p {
  font-weight: 100;
}

